
.swlang_btn{
    position: absolute;
    top:16px;
    right:16px;
    display: block;
    appearance: none;
    border: none;
    outline: none;
    margin: 0 auto;
    max-width: 120px;
    margin-bottom: 16px;
    padding: 12px 16px;
    background-color: #a84fff;
    color:#eee;
    font-weight: 700;
    text-decoration: none;
    border-radius: 12px;
    transition: 0.4s;
}

.swlang_btn:hover{
    background-color: #ff4fa8;
    transform: scale(1.05);
}